[nmp]
    ROWS = 11  # grid rows size
    COLS = 10  # grid cols size
    Z = 4  # channel buffer size
    I = 10  # iterations
    S = 0  # 0 = global sync, 1 = local sync, 2 = async
    TRACE = true  # tracing
    RESULTS = true # results as traces $$
    ORACLE = 2   # cpu spinwait per message, *0.25 ms ?
    DELAY1 = 10  # delay to N
    DELAY2 = 10  # delay to E
    DELAY3 = 10  # delay to S
    DELAY4 = 10  # delay to W
    PATTERN = 3  # worst case (?)
    